APP_ENV=dev
APP_URL=
WEBTOKEN_SECRET_KEY=
WEBTOKEN_EXPIRATION_TIME=
PORT=3001
APP_NAME=filemanager

# Database
DB_TYPE=mysql
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=

# MinIO
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

# Redis
REDIS_HOST=
REDIS_PORT=

# Auth
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRATION_TIME=
REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRATION_TIME=
OTP_DISABLE=